.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to fit your needs */
  }
  
  .custom-form-field {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0
  }