Angular Sharing Local Data Demo <br />
<hr />
<h2>PRODUCT LIST</h2>

<table>
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <tr *ngFor="let product of products">
    <td>{{ product.prod_id }}</td>
    <td>{{ product.prod_name }}</td>
    <td>{{ product.prod_desc }}</td>
    <td>{{ product.prod_price }}</td>
  </tr>
</table>

<h2>EMPLOYEE LIST</h2>

<table>
  <tr>
    <th>Employee ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
  </tr>

  <tr *ngFor="let employee of employees">
    <td>{{ employee.id }}</td>
    <td>{{ employee.firstname }}</td>
    <td>{{ employee.lastname }}</td>
    <td>{{ employee.email }}</td>
  </tr>
</table>
